body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: 'IBM Plex Hans KR';
  font-size: 14px;
  line-height: 1.5;
  font-weight: 900;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.loginform {

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:500px;
  margin: 0 auto;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

.mapcontainer {
  width:80%;
  height:470px;
  margin: 0 auto;

}

@font-face{
  font-family: "Black Han Sans";
  font-weight: 500;
  src: url("../src/assets/fonts/BlackHanSans-Regular.ttf") format("woff2"),
  url("../src/assets/fonts/BlackHanSans-Regular.ttf") format("woff"),
  url("../src/assets/fonts/BlackHanSans-Regular.ttf") format("truetype")
}

@font-face{
  font-family: "IBM Plex Hans KR";
  font-weight:bold;
  src: url("../src/assets/fonts/IBMPlexSansKR-Regular.ttf") format("woff2"),
  url("../src/assets/fonts/IBMPlexSansKR-Regular.ttf") format("woff"),
  url("../src/assets/fonts/IBMPlexSansKR-Regular.ttf") format("truetype")
}