.maptabs {
    color: 'blue'
}
.ant-btn {
    background-color: red;
}
.select{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  
  
  }
  